
/* Oculta a exibição */
.hide{
    display: none;
}

a{
    background-color: #eee;
    padding: 10px;
}

h1{
    background-color: #eee;
}

/* Troca o eixo em y para o eixo em x */

.content-flex{
    display: flex;
    width: 1200px;
    justify-content: flex-start;
    height: 500px;
    align-items: center;
    flex-wrap: wrap;
}

.content-flex p{
    padding: 30px;
    width: 300px;
}

/* Pseudo-classe -> A classe não existe no HTML*/
.content-flex p:first-child{
    font-weight: bold;
}

/* Pseudo-element: Uso quando não tiver como inserir no HTML */
.content-flex p::before{
    content: 'conteúdo antes ';
}

.content-flex p:first-child::after{
    content: ' ';
    width: 20px;
    height: 20px;
    background-color: #333;
    display: inline-block;
    margin-right: 20px;
}