*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/* formatação geral das tags */

a{
    color: #000;
    text-decoration:none;
}


/* formatação das classes gerais */

.container{
    width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-space-around{
    justify-content: space-around;
}

/* Header */

header{
    background-color: #666;
    padding: 20px 15px 5px 25px;
    margin-bottom: 20px ;
}

/* menu de navegação */

nav{
    background-color: #EEE;
    padding: 10px 0px;
}

 nav ul{ /* O segundo elemento(ul) está dentro do primeiro (nav) */
    list-style: none;    
}

nav ul li a{
    background-color: #333;
    color: #FFF;
    padding: 5px;
    display: inline-block;
    transition: all ease-in-out 0.4s;
}

nav ul li a:hover{
    background-color: #999999; 
}

/*main */

main{
    padding: 10px;
}

main section{
    border: 1px solid #DDD;
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
}

main section article {
    margin: 20px 0;
    border-bottom: 1px solid #EEE;
    padding-bottom: 10px;

}

main section h2{
    font-size: 16px;
    padding: 10px;
}

main section p{
    margin: 20px 0;
}

main section a{
    background-color: #666;
    color: #FFF;
    padding: 5px;
    margin: 10px;
}

main section a:hover{
    background-color: #999999;
}

footer{
    background-color: #666;
    color: #EEE;
    padding: 20px 0;
    text-align: center;
    height: 10px;
    
}

footer p{
    letter-spacing: 1px;
}
